#header.style-scope.ytd-app {
  display: none;  /* Hides sidebar header */
}

#guide-inner-content {
  display: none;  /* Hides extended sidebar */
}

[role=navigation] {
  display: none;  /* Hides mini sidebar */
}

#guide-button {
  display: none; /* Removes burger menu */
}

div.style-scope.ytd-rich-grid-renderer {
  display: none !important; /* Removes home feed (and channel videos - bug) */
}

#channel-info {
  display: none !important; /* Temporary fix - removes channel info / links */
}

#top-row {
  display: none !important; /* Temporary fix - removes channel info / links */
}

ytd-channel-renderer {
  display: none !important; /* Temporary fix - removes channel search items */
}

#ytp-chapter-title-chevron {
  display: none !important; /* Removes (now) redundant chapter expander */
}

ytd-reel-shelf-renderer {
  display: none !important; /* Removes YouTube Shorts reel shelf */
}

ytd-shelf-renderer {
  display: none !important; /* Removes irrelevant search shelves */
}

ytd-topbar-menu-button-renderer {
  display: none !important; /* Removes upload button */
}

ytd-notification-topbar-button-renderer {
  display: none !important; /* Removes notifications */
}

.style-scope.ytd-masthead {
  justify-content: center !important; /* Centres masthead */
  margin: 0px;
}

#logo-icon {
  padding: 18px 14px 18px 0px !important; /* Makes padding consistent with new edits */
}

#search {
  padding: 0px !important;
}

/*#region VIDEO-PLAYER */

video.video-stream.html5-main-video { /* Scales video to player size */
  height: auto !important;
  width: -webkit-fill-available !important;
}

div.ytp-chrome-bottom { /* Scales controls to player size */
  width: -webkit-fill-available !important;
  margin: 0px !important;
  padding: 0px !important;
  left: 0px !important;
}

div.ytp-progress-bar-container { /* TEMPORARY - Hides progress bar */
  display: none !important;
}

/*#endregion */